<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKsHUNA_2Vx7258vwlvuI-ha06C6jEvl4</string>
	<key>GCM_SENDER_ID</key>
	<string>482284518295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ksijKinshasa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ksij-kinshasa</string>
	<key>STORAGE_BUCKET</key>
	<string>ksij-kinshasa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482284518295:ios:40e8182d675bc4bb01a2d2</string>
</dict>
</plist>